<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccesoDatos.Conexion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AccesoDatos.ConfiguracionConexion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccesoDatos.Conexion>
            <setting name="Usuario" serializeAs="String">
                <value>dipjuan</value>
            </setting>
            <setting name="GestorBD" serializeAs="String">
                <value>MySQL</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>192.168.1.140</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>clave</value>
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>Diprolim</value>
            </setting>
        </AccesoDatos.Conexion>
        <AccesoDatos.ConfiguracionConexion>
            <setting name="Usuario" serializeAs="String">
                <value>diprolim</value>
            </setting>
        </AccesoDatos.ConfiguracionConexion>
    </userSettings>
</configuration>