<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diprolim.Properties.Settings.tablasdiagramasConnectionString"
            connectionString="server=localhost;user id=root;password=clave;database=tablasdiagramas"
            providerName="MySql.Data.MySqlClient" />
        <add name="Diprolim.Properties.Settings.diprolimConnectionString"
            connectionString="server=localhost;user id=root;password=clave;database=diprolim"
            providerName="MySql.Data.MySqlClient" />
        <add name="Diprolim.Properties.Settings.Database21ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database21.accdb"
            providerName="System.Data.OleDb" />
        <add name="Diprolim.Properties.Settings.ParaConsignacionConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ParaConsignacion.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
