<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
      
    </log4net>
    <connectionStrings>
        <add name="Diprolim.Properties.Settings.tablasdiagramasConnectionString" connectionString="server=localhost;user id=root;password=clave;database=tablasdiagramas" providerName="MySql.Data.MySqlClient"/>
        <add name="Diprolim.Properties.Settings.diprolimConnectionString" connectionString="server=localhost;user id=root;password=clave;database=diprolim" providerName="MySql.Data.MySqlClient"/>
        <add name="Diprolim.Properties.Settings.Database21ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database21.accdb" providerName="System.Data.OleDb"/>
        <add name="Diprolim.Properties.Settings.ParaConsignacionConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ParaConsignacion.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
